<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h3>Signup</h3>
      <form [formGroup]="mySignup">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your  First Name *"
                value=""
                formControlName="firstName"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Your Last Name  *"
                value=""
                formControlName="lastName"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Your Email *"
            value=""
            formControlName="email"
          />
        </div>

        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Your Phone *"
            value=""
            formControlName="phone"
          />
        </div>

        <div class="form-group">
          <input
            type="file"
            class="form-control"
            placeholder="Your Profile_pic *"
            value=""
            (change)="setFile($event)"
          />
        </div>

        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Your Password *"
            value=""
            formControlName="pass1"
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            (click)="signup()"
            class="btnSubmit"
            value="Signup"
          />
        </div>
      </form>
    </div>
    <div class="col-md-6 login-form-2">
      <h3>Login</h3>
      <form>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Your Email *"
            value=""
            [(ngModel)]="myLogin.email"
            name="email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Your Password *"
            value=""
            [(ngModel)]="myLogin.pass1"
            name="pass1"
          />
        </div>
        <div class="form-group">
          <input
            type="submit"
            (click)="login()"
            class="btnSubmit"
            value="Login"
          />
        </div>
      </form>
    </div>
  </div>
</div>
