<header class="jumbotron text-center">
  <h4>E-Products Oreder App</h4>
</header>

<main>
  <article>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
      recusandae in voluptatem delectus autem repellat qui ratione, officia iure
      aliquid reiciendis eos, inventore fuga impedit sit culpa corrupti eum
      eveniet. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio
      laboriosam tenetur unde magni architecto a sunt maxime quisquam temporibus
      omnis possimus nemo earum inventore esse officiis adipisci, fugiat
      molestias eum! Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Accusantium, voluptates quia, corporis reprehenderit itaque magni mollitia
      animi sit voluptatum nam fugiat et illum eum explicabo neque consectetur
      natus beatae error! Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Ea impedit veniam nostrum blanditiis nisi qui facere unde incidunt
      vel? Voluptates tenetur doloribus sequi eligendi quidem perspiciatis.
      Praesentium enim nostrum alias.
    </section>
  </article>
</main>
