<header class="jumbotron text-center">
  <h3>View Product</h3>
</header>
<hr />

<ng-container *ngIf="placedOrderInfo.length != 0; else product">
  <div class="alert alert-success" role="alert">
    <p>
      <strong> You have successfully placed your order</strong>
    </p>
    <p>
      <strong>
        Your order id : <code>{{ placedOrderInfo._id }} </code></strong
      >
    </p>
    <p>
      <strong>
        Your order Date :
        <code>{{ placedOrderInfo.order_date | date : "short" }} </code></strong
      >
    </p>

    <button class="btn btn-sm btn-info" (click)="viewOrder()">
      View Order Details
    </button>
  </div>
</ng-container>
<ng-template #product>
  <div class="container-fluid text-center">
    <div class="container">
      <div class="card-group">
        <div class="card" style="width: 400px">
          <img
            class="card-img-top"
            src="{{ productDetails.pro_image }}"
            alt="{{ productDetails.pro_name }}"
            title="{{ productDetails.pro_name }}"
            height="200px"
            width="200px"
          />
          <div class="card-body">
            <h4 class="card-title">{{ productDetails.pro_name }}</h4>
            <p class="card-text">
              <span class="badge badge-pills badge-danger"
                >Price: {{ productDetails.pro_price | currency : "INR" }}</span
              >
            </p>

            <button (click)="orderPlaced()" class="btn btn-success">
              Placed Order
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<hr />
